h1 {
  color: blue;
}

h2 {
  color: green;
}

title {
  color: blue;
}


.div-dimensions {
  height: 200px;
  width: 600px;
  text-align: center;
  color: green;
  padding-left: 200px;
}

.line-spacing {
  padding: 30px;
}

img {
  height: 200px;
  width: 200px;
}






ol {
  margin-left: 40px;
  margin-top: -20px;
  list-style-position: inside;
}





.note {
  font-size: 20px;
}


#id-selector-demo {
  color: green;
}


li[value="4"] {
   color: blue;
}


 * {
    text-align: center;
}





img {
  height: 200px;
  width: 200px;
}

.color-title {
  font-weight: normal;
}

#red {
  color: red;
}

#blue {
  color: blue;
}

#orange {
  color: orange;
}

#green {
  color: green;
}

#yellow {
  color: yellow;
}





div {
  text-align: center;
}



