body {
 background-color: white;
}

.blue-text {
 color: blue;
}

  title {
    color:green;
  }
  
    html {
      background:lightblue;
    }

      h2 {
      color:green;
    }

      html {
      background:lightblue;
    }
  
     h1 {
      color: blue;
    } 
