.blue-text {
 color: red;
}

.space {
  padding: 5px;
}

  title {
    color: green;
  }

      h2 {
      color: green;
  }
  
     .h1 {
      color: blue;
  }

.dot {
 width: 90px;
 height: 100px;
}

.stalw300 {
  text-align: left;
  width: 300px;
}

.lala {
   height: 200px;
   width: 600px;
   text-align: left;
 {
